$heading-1: 900 56px/1.09 $font-family;
$heading-1-lg: 900 68px/1.09 $font-family;

$heading-2: 700 18px/27px $font-family;
$heading-2: 700 20px/30px $font-family;

$body: 400 14px/1.8 $font-family;
$body-lg: 400 16px/1.8 $font-family;

$button: 500 16px/180% $font-family;